<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- レシーバからLockScreenActivityを起動するのに必要(API29以上) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- ネットワークアクセス: 広告表示 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 広告ID -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <queries>
        <package android:name="com.suihan74.nedge"/>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:name=".Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        tools:ignore="LockedOrientationActivity"
        android:theme="@style/Theme.Application"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9867568193412486~2221433495"/>

        <!-- services -->

        <service
            android:name=".services.NotificationService"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- activities -->

        <!-- 起動画面 -->
        <activity
            android:name=".scenes.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- パーミッションチェック画面 -->
        <activity
            android:name=".scenes.permissions.PermissionsValidationActivity"
            android:theme="@style/Theme.PermissionsValidationActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>

        <!-- ロック画面 -->
        <activity
            android:name=".scenes.lockScreen.LockScreenActivity"
            android:theme="@style/Theme.LockScreenActivity"
            android:showOnLockScreen="true"
            android:screenOrientation="sensorPortrait"
            android:lockTaskMode="if_whitelisted"
            android:launchMode="singleTask"
            android:exported="true"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

        </activity>

        <!-- 設定画面 -->
        <activity
            android:name=".scenes.preferences.PreferencesActivity"
            android:theme="@style/Theme.PreferencesActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="sensorPortrait"
            android:exported="true"
            android:launchMode="singleTask">
        </activity>

        <!-- === -->

        <receiver
            android:name=".receivers.DeviceAdminReceiver"
            android:label="@string/app_name"
            android:description="@string/device_admin_desc"
            android:exported="false"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
